<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>TestServlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>BidServlet</servlet-name>
  	<servlet-class>com.coreservlets.BidServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShowRequestHeaders</servlet-name>
  	<servlet-class>com.coreservlets.ShowRequestHeaders</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LongServlet</servlet-name>
  	<servlet-class>com.coreservlets.LongServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BrowserInsult</servlet-name>
  	<servlet-class>com.coreservlets.BrowserInsult</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CustomizeImage</servlet-name>
  	<servlet-class>com.coreservlets.CustomizeImage</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShowCGIVariables</servlet-name>
  	<servlet-class>com.coreservlets.ShowCGIVariables</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WrongDestination</servlet-name>
  	<servlet-class>com.coreservlets.WrongDestination</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SearchEngines</servlet-name>
  	<servlet-class>com.coreservlets.SearchEngines</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SearchEngineForm</servlet-name>
  	<servlet-class>com.coreservlets.SearchEngineForm</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CreateExcel</servlet-name>
  	<servlet-class>com.coreservlets.CreateExcel</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PrimeNumberServlet</servlet-name>
  	<servlet-class>com.coreservlets.PrimeNumberServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShadowedText</servlet-name>
  	<servlet-class>com.coreservlets.ShadowedText</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
  	<servlet-name>BidServlet</servlet-name>
  	<url-pattern>/BidServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowRequestHeaders</servlet-name>
  	<url-pattern>/ShowRequestHeaders</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LongServlet</servlet-name>
  	<url-pattern>/LongServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BrowserInsult</servlet-name>
  	<url-pattern>/BrowserInsult</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CustomizeImage</servlet-name>
  	<url-pattern>/CustomizeImage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowCGIVariables</servlet-name>
  	<url-pattern>/ShowCGIVariables</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WrongDestination</servlet-name>
  	<url-pattern>/WrongDestination</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchEngines</servlet-name>
  	<url-pattern>/SearchEngines</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchEngineForm</servlet-name>
  	<url-pattern>/SearchEngineForm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CreateExcel</servlet-name>
  	<url-pattern>/CreateExcel</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PrimeNumberServlet</servlet-name>
  	<url-pattern>/PrimeNumberServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShadowedText</servlet-name>
  	<url-pattern>/ShadowedText</url-pattern>
  </servlet-mapping>
</web-app>